/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.absolute{
    position: absolute;
}

.flex{
    display: flex;
}

:root {
    /* Tipografía */
    --font-primary: 'Helvetica Neue', Arial, sans-serif;
    --font-secondary: "Indie Flower", cursive;

    /* Colores */
    --color-primary: #fe90c1; /* Azul */
    --color-secondary: #6C757D; /* Gris */
    --color-third: #fffbec; /* Fondo claro */

    /* Tamaños de texto */
    --text-size-small: 0.875rem; /* 14px */
    --text-size-base: 1rem; /* 16px */
    --text-size-large: 1.25rem; /* 20px */
    --text-size-title: 4.25rem; /* 20px */
}

.color-third{
    color: var(--color-third);
}

body {
    font-family: var(--font-primary);
    font-size: var(--text-size-base);
    background-color: var(--color-secondary);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    margin-bottom: var(--spacing-base);
}
h1{
    font-size: var(--text-size-title);
    text-shadow:1px 1px 1px #333 ;
}
h2{
    font-size: var(--text-size-large);
    text-shadow:1px 1px 1px #333 ;
}
p {
    margin-bottom: var(--spacing-base);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}


.wrapper-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section .wrapper-img img {
    object-fit:cover;
    width: 100%;
    height: 100%;
}    

@media (orientation: portrait) {
    section{
        width: 100vw;
        height: 100vh;
    }
    .wrapper-section{
        flex-direction: row;
    }
}

@media (orientation: landscape) {
    section{
        width: 33.3333%;
        height: 100vh;
    }
    .wrapper-section{
        flex-direction: column;
    }
}


.wrapper-img {
    width: 100%;
    height: 100%;
}

.wrapper-text {
    text-align: center;
}